<div class="container">
        <h1>ToDos</h1>
                <div class="task">
                        <div class="containerTask" *ngFor="let task of tasks; let i=index">
                                <ul>
                                  <li><input type="checkbox"  id="{{i}}" 
                                        [value]="task.id" [checked]="task.selected" (change)="onChangeTask($event)">
                                        <label for="{{i}}">{{task.description}}</label></li>
                                </ul>
                        </div>
                </div>
</div>

