<div class="container">
        <div class="rectangles">
                <div class="rectangle">
                        <input type="checkbox" id="getUp">
                        <label for="getUp">Get up on time</label>
                </div>
                <div class="rectangle">
                        <input type="checkbox" id="breakfast">
                        <label for="breakfast">Healthy breakfast</label>
                </div>
                <div class="rectangle">
                        <input type="checkbox" id="workOut">
                        <label for="workOut">Work out</label>
                </div>
                <div class="rectangle">
                        <input type="checkbox" id="work">
                        <label for="work">Work</label>
                </div>
                <div class="rectangle">
                        <input type="checkbox" id="readBook">
                        <label for="readBook">Read a book</label>
                </div>
        </div>
</div>