<div class="container">
    <div class="icons">
        <a href="https://github.com/SchroederSimon" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-2x fa-square-github"></i></a>
        <a href="https://www.linkedin.com/in/simon-schroeder-a2847a1b7/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-2x fa-linkedin"></i></a>
        <a href="https://twitter.com/SimonD3v" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-2x fa-square-twitter"></i></a>
    </div>
</div>
