<div class="container">
    <div class="title">
        <div class="description">
            <h1>Tiny things matters</h1>
            <p>To<span>Do</span> it's a platform to organize your habits and keep the track of them. 
                <br>Also you can analyze the data to know what to change to get the habit.</p>
                <button type="button">Start</button>
        </div>
        </div>
    <div class="imagesContainer">
        <div class="image1">
            <h2>How you think it is</h2>
            <img src="/assets/imagenes/Charts2.png" alt="">
        </div>
        <div class="image2">
            <h2>How actually is</h2>
            <img src="/assets/imagenes/Charts.png" alt="">
        </div>
    </div>
</div>
