<div class="container">
    <div class="title">
        <div class="description">
            <h1>Tiny things matters</h1>
            <p>To<span>Do</span> it's a platform to organize your habits and keep the track of them. 
                <br>Also you can analyze the data to know what to change to get the habit.</p>
                <button type="button">Start</button>
        </div>
        </div>
    <div class="imagesContainer">
        <p>"All big things come from small beginnings. The seed of every habit is a single, tiny decision." <br> <span>James Clear - Atomic Habits</span></p>
        <div class="image1">
            <h1>How people think it is</h1>
            <img src="/assets/imagenes/Charts2.png" alt="">
        </div>
        <div class="image2">
            <h1>How actually is</h1>
            <img src="/assets/imagenes/Charts.png" alt="">
        </div>
    </div>
</div>
