<div class="background">
    <div class="loginContainer">
        <div class="formBox">
            <h1>Welcome</h1>
            <div class="iconTodo">
                <img src="/assets/imagenes/iconhabits.svg" alt="">        
            </div>   
            <form>
                <div class="inputs">
                    <label for="email"><i class="fa-solid fa-at"></i>Email</label>
                    <input type="email">
                </div>
                <div class="inputs">
                    <label for="password"><i class="fa-solid fa-at"></i>Password</label>
                    <input type="password">
                </div>
                <button type="submit">LOGIN   <i class="fa-solid fa-arrow-right-to-bracket"></i></button>
            </form>
        </div>
    </div>
</div>